@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Playfair+Display:ital@1&family=Poppins:ital,wght@0,200;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Caprasimo', cursive;
    font-family: 'poppins', serif;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}

body {
    width: 100%;
    height: 100;
    background: black;
    color: white;
    overflow-x:hidden;
}

.container {
    padding: 10px 20px;

}


.container nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 20px;
}

.container nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 25px;
    color: white;
}

hr {
    margin-top: 5px;
}

.container nav ul li a {
    text-decoration: none;

    font-size: 20px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;

    color: white;
    position: relative;
}

.container nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff0045;
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: 0.5s;
}

.container nav ul li a:hover::after {
    width: 100%;
}

.container nav ul li a:hover {
    transform: translate(0, -10px);
    position: relative;

}

.simple {

    font-size: 20px;
    background-image: url(port_img/postcard-2851906_1280.jpg);
    background: no-repeat;
    background-attachment: fixed;

}

.simple .cont {
    transform: translate(0, -11cm);

}

.simple img {
    height: 15cm;
    width: 60%;
    transform: translate(14.4cm, 0);
}

.simple h3 {
    font-size: 30px;
    margin-top: 20px;

}
.menu-btn {
    background-color: #040008;
    color: white;
    padding: 16px;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
 }
 .menu-btn {
    background-color: #040008;
    color: white;
    padding: 16px;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
 }
 .dropdown-menu {
    position: relative;
    display: inline-block;
 }
 .menu-content {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 160px;
    z-index: 1;
    padding-top: 3px;
    padding-bottom: 3px;
    -webkit-box-shadow: 0px 0px 13px 7px black;
    -moz-box-shadow: 0px 0px 13px 7px black;
    box-shadow: 0px 0px 13px 7px black;
 }
 .links-hidden{
    display: block;
    text-decoration: none;
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    transition: 0.5s;
 }
 .links-hidden:hover{
    background-color: silver;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bolder;
    font-size: large;
    
 }

 .dropdown-menu:hover .menu-content {
    display: block;
 }
 .dropdown-menu:hover .menu-btn {
    background-color:none;
   
 }



/*------------------------services part--------------------------*/
#services {
    color: none;

}

#services .title {
    transform: translate(0.5cm, -2.6cm);

}

.service-list {
    transform: translate(0.5cm, -3cm);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}

.service-list div {
    background: #ff0045;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    margin-right: 50px;
    transition: background 0.5s, transform 0.5s;
    border-radius: 10px;

}

.service-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.service-list div a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.service-list div:hover {
    background: silver;
    color: black;
    transform: translate(0, -10px);
}

/*---------------folio part------------------*/
#folio {
    padding: 50px 0;
    transform: translate(0, 0.5cm);
}

.container .sub-title {
    transform: translate(0, -2cm);
}

.work-list img {
    height: 360px;
    width: 450px;
    border-radius: 10px;
    margin-left: 15px;

}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work-list img {
    object-fit: cover;

}

.work-list .tx1 {
    width: 60%;
    transform: translate(13cm, -6.5cm);
    font-size: larger;
}

.work-list {
    margin-top: 10px;

}

.work-list .a2 img {
    transform: translate(21cm, -3cm);
}

.work-list .tx2 {
    width: 60%;
    transform: translate(0.2cm, -10cm);
    font-size: larger;
}

.work-list .a3 img {
    transform: translate(0, -4cm);
}

.work-list .tx3 {
    width: 60%;
    transform: translate(13.8cm, -11cm);
    font-size: larger;
}

.work-list img:hover {
    filter: brightness(50%);
}

.tx1 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);

}

.tx2 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);

}

.tx3 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);

}

/*--------------contact-us-------------------*/


#contact .container .row {
    transform: translate(0, -10cm);

}

.social-icons a i {
    color: #ff004f;
    font-size: 30px;
    color: #ababab;
    display: inline-block;
    text-decoration: none;
    transition: 0.5s;
}


#contact .container p {
    padding-bottom: 10px;
    padding-top: -45px;

}

.con-left {
    flex-basis: 35%;

}

.con-left h1 {
    margin-left: 15cm;
    margin-top: 10cm;
}

.con-right {
    flex-basis: 60%;


}

.con-right form {
    display: block;
    margin-left: 13.5cm;

}

.con-right input {
    height: 1.5cm;
    width: 40%;
    margin-bottom: 1cm;

    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    background: #262626;
}

.con-right textarea {
    width: 40%;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    background: #262626;
}

.con-right textarea:hover {
    -webkit-box-shadow: 0px 0px 13px 7px #ff004f;
    -moz-box-shadow: 0px 0px 13px 7px #ff004f;
    box-shadow: 0px 0px 13px 7px #ff004f;

}

.con-right input:hover {
    -webkit-box-shadow: 0px 0px 13px 7px #ff004f;
    -moz-box-shadow: 0px 0px 13px 7px #ff004f;
    box-shadow: 0px 0px 13px 7px #ff004f;
}

.con-left p i {
    color: #ff004f;
    font-size: 25px;

}

.con-left p {
    transform: translate(13cm, 14cm);
}

.social-icons a i {
    transform: translate(14cm, 14cm);
}

.social-icons a i:hover {
    color: #ff0045;

}

.con-right button {
    height: 1.2cm;
    width: 20%;
    background: #ff0045;
    color: white;
    border-radius: 7px;
    font-weight: bold;
    font-size: large;
    transform: translate(-6.5cm, 1.3cm);
    border: 6px;
    border-color: red;
}

.con-right button:hover {
    color: black;
    background: lightblue;
    -webkit-box-shadow: 0px 0px 13px 7px rgba(30, 158, 204, 0.64);
    -moz-box-shadow: 0px 0px 13px 7px rgba(30, 158, 204, 0.64);
    box-shadow: 0px 0px 13px 7px rgba(30, 158, 204, 0.64);

}
#msg{
    color: #61b752;
    margin-left: 21cm;
    margin-bottom: -4px;
    display: block;
    transform: translate(0,0.4cm);
    font-size: large;
    
    
}
/*---------------------scroll to top button-----------*/
.top{
    height: 1.2cm;
    width: 10%;
    background: #ff0045;
    color: white;
    border-radius: 7px;
    font-weight: bold;
    font-size: large;
    margin-left: 5px;
    margin-bottom: 5px;
    border: 6px;
    border-color: red;
}
.top:hover{
    color: black;
    background: lightblue;
    -webkit-box-shadow: 0px 0px 13px 7px rgba(30, 158, 204, 0.64);
    -moz-box-shadow: 0px 0px 13px 7px rgba(30, 158, 204, 0.64);
    box-shadow: 0px 0px 13px 7px rgba(30, 158, 204, 0.64);

}

/*------------css for responsive page---------------*/
